/* ==============================================
   Variables globales
   ============================================== */

// Largeurs de la sidebar (desktop)
$sidenav-width: 280px !default;
$sidenav-width-collapsed: 72px !default; // icônes only

// Dimensions de référence
$topbar-height-desktop: 64px !default; // Materialize default
$topbar-height-mobile: 56px !default;

// Couleurs
$brand-color: #f4a500 !default;
